.modal-body{
   
}
.info{
    position: absolute;
    margin-top: -47px;
    margin-left: 54px;
}
.name{
    font-weight: bold;
}
.role{
    font-size: 13px;
}
.add-friend1{
    padding: 4px;
    border: 1px solid;
    position: absolute;
    margin-top: -5px;
    margin-left: 290px;
    border-radius: 10px;
}
.add-friend{
    padding: 4px;
    border: 1px solid;
    position: absolute;
    margin-top: -5px;
    margin-left: 190px;
    border-radius: 10px;
}
.add-friend3{
    padding: 4px;
    border: 1px solid;
    position: absolute;
    margin-top: -5px;
    margin-left: 166px;
    border-radius: 10px;
}