.user{
    /* position: absolute;
    height: 50px;
    width: 100%;

    background: -webkit-linear-gradient(left, #c3bba2, #caa5b6, #9dd4a9)!important;
    z-index: 99; */
}
.avatar{
    width: 40px;
    height: 40px;
    border: solid 1px ;
    border-radius: 50px;
}
.chat{
}
.card-header{
    margin-top: 10px;
}


/* iconmessenger */
.icon-messenger{
    float: right;
    margin-top: -38px;
   height: 38px;
   width: 38px;
    color: white;
    font-size: 20px;
    background-color: #5a6588;
    border-radius: 25px;
    margin-right: 10px;
}
.icon{
    padding: 9px ;
}